.d-flex.border.rounded.flex-column.mb-3
  .d-flex.align-items-center.p-3.text-white-50.bg-dark.rounded-top.box-shadow
    .lh-100
      %h3.mb-0.text-white.lh-100 Channels
    .ml-auto
      %h4= channels_count
  %div
    %table.table.table-striped.table-hover.m-0
      %thead.thead-dark
        %tr
          %th{ scope: "col" } Name
      %tbody
        - channels.each do |channel|
          %tr
            %td
              = link_to [channel.server, channel] do
                = channel.name
              .float-right
                - if channel.gb_alerts?
                  = fa_icon "shopping-cart",
                    "data-toggle": "tooltip",
                    "data-placement": "left",
                    title: "Groupbuy announcements enabled"

