%table.table.table-striped.table-hover.table-responsive-xl
  %thead.thead-dark
    %tr
      %th{ scope: "col" } Name
      %th{ scope: "col", style: "width:5%" } Members
      %th{ scope: "col", style: "width:10%" } Created
  %tbody
    - @servers.each do |server|
      %tr
        %td
          = link_to server do
            %img.mr-1.rounded{:alt => "", :height => "20", :width => "20", :src => server.icon_url}/
            = server.name
        %td= server.member_count
        %td= server.created_at.to_s(:month_and_year)
