%table.table.table-striped.table-hover.table-responsive-xl
  %thead.thead-dark
    %tr
      %th{ scope: "col", style: "width:20%" } #
      %th{ scope: "col", style: "width:5%" } Members
      %th{ scope: "col", style: "width:75%" } Name
  %tbody
    - @servers.each do |server|
      %tr
        %th{ scope: "row" }= server.id
        %td= server.member_count
        %td
          = link_to discord_server_path(server.id) do
            = server.name
